/* You can add global styles to this file, and also import other style files */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FEFDD6;
}


a:hover, a:active, a:focus {
  text-decoration: none;
}