*, *:before, *:after {
  box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white-smoke;
}

a {
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}